engine-strict=true
@msetsuite:registry=https://ltg-dev.pkgs.visualstudio.com/0993c973-a0a3-41c9-acbf-fca1ecf95883/_packaging/mSETSuite/npm/registry/
@lumihack:registry=https://ltg-dev.pkgs.visualstudio.com/0993c973-a0a3-41c9-acbf-fca1ecf95883/_packaging/mSETSuite/npm/registry/
@luminator-suite:registry=https://ltg-dev.pkgs.visualstudio.com/0993c973-a0a3-41c9-acbf-fca1ecf95883/_packaging/LuminatorSuite/npm/registry/
