.container {
    height: 100vh;
    background-color: rgb(252, 216, 98);
    border-radius: 1rem;
   
  }
  .upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 1rem;
  }
  .upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .weather-data {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  
  .temperature {
    font-size: 4rem;
  }
  
  .location {
    font-size: 2rem;
  }
  .lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 1rem;
  
    display: flex;
    flex-direction: column;
  }
  .lower-data img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
  
  .description-container {
    flex: 1;
    background-color: rgb(252, 216, 98);
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  
  .info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-block-label img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
  .info-block-label span {
    font-size: 1rem;
  }
  
  .info-block-value {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
